@font-face {
  font-family: "Taipei Sans";
  src: url("TaipeiSansTCBeta-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Taipei Sans Light";
  src: url("TaipeiSansTCBeta-Light.ttf") format("truetype");
  font-style: lighter;
}

@font-face {
  font-family: "Taipei Sans";
  src: url("TaipeiSansTCBeta-Regular.ttf") format("truetype");
  font-weight: normal;
}

html{
  /* scroll-behavior: smooth; */
}

body{
  background-color: #67666C;
  /* parent needs to have a set height for the sticky child to work  */
  height: 7100vh;
}

#navigationGroup{
  position: fixed;
  top: 1em;
  left: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 90vh;
}

a{
  text-decoration: none;
  color: #bbbbbb;
  font-family: "Taipei Sans";
  font-weight: lighter;
  font-size: 14;
  outline: none;
  padding-right: 1.3em;
  padding-bottom: 0.4em;
  line-height: normal;
}

a.navigationLink:hover{
  line-height: 3;
  color: white;
}

#emptyDiv{
  width: 100vw;
  height: 100vw;
}

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%
} */

.dream{
  position: sticky;
  position: -webkit-sticky;
  top: 1vh;
  left: 35%;
  width: 49vw;
  height: 10vh;

  /* z-index is important for the sticky element to have hover effect */
  z-index: 5;

  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: justify;
  border: 1.5px solid white;
  padding: 5px;
  color: white;
  font-family: "Taipei Sans";
  font-weight: lighter;
  font-size: 18px;
  line-height: 1.2em;
  background-color: white;

  /* disable selection  */
  user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

.dream:hover{
  background-color: transparent;
  color: #bbbbbb;
  cursor: pointer;
}

#stereotypeGroup{
  width: 70%;
  position: fixed;
  left: 15%;
  bottom: 1vh;
  z-index: 1;
  /* display: inline; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: justify;

  /* disable selection  */
  user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

.stereotype{
  color: #bbbbbb;
  font-family: "Taipei Sans";
  font-weight: lighter;
  font-size: 11.5px;
}

/* .filterBubble{
  color: #bbbbbb;
  padding: 1em;
  font-family: "Taipei Sans";
  font-weight: lighter;
  font-size: 14px;
} */

#storyGroup{
  position: absolute;
  top: 200vh;
  left: 15%;
  display: flex;
  flex-direction: column;
  /* padding: 1em; */
}

.text{
  display: flex;
  flex-direction: column;
  /* margin-bottom: 100vh; */
}

.anchor{
  padding-top: 15vh;
  margin-top: -15vh;
}

/* english text */
.textE{
  /* color: #67666C; */
  color: rgba(104, 103, 109, 0);
  /* background-color: #67666C; */
  /* overflow-wrap: break-word;
  word-wrap: break-word; */
  font-size: 14px;
  font-family: "Taipei Sans";
  font-weight: normal;
  padding-left: 20.6vw;
  padding-bottom: 2em;
  width: 49.6vw;
  margin: 0;
  line-height: 1.25em;
  /* width: 50vw; */
  /* padding-left: 15em;
  padding-right: 15em; */
  z-index: 1;
}

.textE::selection{
  background-color: #9BB23E;
  color: rgba(104, 103, 109, 1);
}

.revealE{
  color: #bbbbbb;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.revealE::selection{
  background-color: #9BB23E;
}

/* mandarin text */
.textM{
  /* color: #67666C; */
  color: rgba(104, 103, 109, 0);
  font-size: 35px;
  font-family: "Taipei Sans";
  font-weight: bold;
  /* padding: 1em; */
  padding-bottom: 2em;
  margin: 0;
  letter-spacing: 10px;
  line-height: 1.5em;
  z-index: 3;
}

.textM::selection{
  background-color: #E58FB2;
  color: rgba(104, 103, 109, 1);
}

.revealM{
  color: white;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.revealM::selection{
  background-color: #E58FB2;
}

#aboutLink{
  position: fixed;
  bottom: 10%;
  right: 0.2em;
  transform: rotate(-90deg);
  color: #bbbbbb;
  font-size: 14px;
  font-family: "Taipei Sans";
  font-weight: normal;
  z-index: 10;
}

#aboutLink:hover{
  color: white;
}

#up-arrow{
  position: fixed;
  right: 1em;
  top: 72vh;
  font-size: 28px;
  color: white;
}

#down-arrow{
  position: fixed;
  right: 1em;
  top: 90vh;
  font-size: 28px;
  color: white;
}

#back-arrow{
  position: fixed;
  left: 1em;
  top: 86vh;
  font-size: 28px;
  color: #bbbbbb;
}

#back-arrow:hover{
  font-size: 35px;
  color: white;
  left: 0.6em;
}

#cover{
  width: 50vw;
  height: auto;
  position: fixed;
  left: 35%;
  top: 15%;
  z-index: 1;
}

hr{
  width: 70%;
  position: fixed;
  left: 15%;
  bottom: 8vh;
  z-index: 1;
  border: 1.5px dashed #bbbbbb;
}
